<h1>Profiles#new</h1>


<%= form_with model: @profile do |f| %>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :captain %>
        <%= f.text_field :captain %>
    </p>
    <p>
        <%= f.submit 'Create new profile' %>
    </p>
<% end %>
