<h1>Profile show</h1>

<h1><%= @profile.name %></h1>
<h3>Are you a Captian?: <%= @profile.captain %></h3>
<h3>Personal description: <%= @profile.description %></h3>
|
<h2>If you want to add your boat follow the<%= link_to "<<Link", new_boat_path(@profile.id) %></h2>

<% if @profile.boat.nil? %>

<% else %>
   <h3>Boat: <%= link_to @profile.boat.category, boat_path(@profile.boat.id) %></h3>
<% end %>

 <%
=begin%>
 <%= link_to "Update Boat", edit_boat_path(@boat) %>  
<%
=end%>
 <%
=begin%>
 <td><%= link_to @profile.boats, boat_path(@profile.id) %></td>   
<%
=end%>

<p>
   <%= link_to "<< Back to Profiles", profiles_path %>
   |
   <% if @profile.user_id == current_user.id %>
      <%= link_to "Update Profile", edit_profile_path(@profile) %>
      |
      <%= link_to "Delete Profile", @profile, method: :delete %>
   <% else %>
      <p>No</p>
   <% end %>
</p>