<section class="bg-primary text-light text-center text-sm-start h-100">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Become a <span class="text-warning">first mate</
                span>  member</h1>
                <p class="lead my-4">
                    Our goal is leave no boat in the driveway, no yacht in the dock and no boater left on dry!
                    Help out by creating a profile and joining a voyage!
                </p>
                <button  class="btn btn-dark bitn-lg"><%= link_to 'Profiles page', profiles_path %></button>
            </div>
            <img 
                class="img-fluid w-50 d-none d-sm-block" 
                src=<%= asset_path("boat.svg") %> 
                alt="nope"
            />
        </div>
    </div>


    <section class="p-auto">
    <div class="container">
        <div class="row text-center">
            <div class="col-md p-2">
                <div class="card bg-success text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <h3>
                            Profiles
                        </h3>
                        <p class="cared-text">
                            Get started by creating a profile!
                        </p>
                        <button  class="btn btn-warning  bitn-lg"><%= link_to "Profiles", profiles_path, class: "p-danger" %></button>
                    </div>
                </div>
            </div>
            <div class="col-md p-2">
                <div class="card bg-success text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <i class="bi bi-person-plus-fill"></i>
                        </div>
                        <h3>
                            Boats
                        </h3>
                        <p class="cared-text">
                            Then if you have a boat add it here!
                        </p>
                        <button  class="btn btn-warning  bitn-lg"><%= link_to "Boats", boats_path, class: "p-danger" %></button>
                    </div>
                </div></div>
                <div class="col-md p-2">
                    <div class="card bg-success text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-flag-fill"></i>
                            </div>
                            <h3>
                                Voyages
                            </h3>
                            <p class="cared-text">
                                Join a voyage or if you have a boat create your own voyage for others to join!
                            </p>
                                <button  class="btn btn-warning bitn-lg"><%= link_to "Voyages", voyages_path, class: "p-danger" %></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>










