<h1>About page</h1>

<%= image_tag("surfing_cat.jpg") %>
 <%
=begin%>
 <td><%= cl_image_tag voy.voyage_image.key, crop: :scale, width: 300, cloud_name: 'diu8yxgel' if voy.voyage_image.attached?%></td>  
<%
=end%>



<h1>Our moto</h1>
<h2>
To leave no boat in the driveway, no yacht in the dock and no boaty left behind!
</h2>
<h3>Help out by creating a profile and joining in a voyage!</h3>
<p>Boats</p>
<%= image_tag("surfing_cat.jpg") %>
<p>Yachts</p>
<%= image_tag("surfing_cat.jpg") %>
<p>People</p>
<%= image_tag("surfing_cat.jpg") %>
