<section class="bg-primary text-light p-0 text-center text-sm-start h-100" >
    <h1 class="row justify-content-center">Voyages Page</h1>
    <% if user_signed_in?%>
        <% if current_user.profile.nil? %>
            <h2 class="pad">First create a profile to create a voyage: <button  class="btn btn-dark bitn-lg"><%= link_to 'Profiless page', profiles_path %></button></h2>
        <% else %>
            <% if !current_user.profile.boat.nil? %>
                <% if current_user.voyage.nil? %>
                    <h2 class="pad">Create your own voyage: <button  class="btn btn-dark bitn-lg"><%= link_to 'Add your Voyage here', new_voyage_path %></button></h2>
                <% end %>
            <% else %>
                <h2 class="pad">Add a boat to your profile to create a voyage: <button  class="btn btn-dark bitn-lg"><%= link_to 'Boats page', boats_path %></button></h2>
            <% end %>
        <% end %>
    <% end %>

    <section class="p-auto">
        <div class="container">
            <div class="row text-center">
                <% @voyages.each do |voy|%>
                    <div class="col-md, col-lg, col-xl-4 p-3">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                            <h3>
                                <%= cl_image_tag voy.user.profile.boat.boat_image.key, crop: :scale, width: 100, cloud_name: 'diu8yxgel' if voy.user.profile.boat.boat_image.attached?%>
                                <%= link_to voy.user.profile.name, voyage_path(voy.id) %>
                            </h3>
                                <tr> 
                                    <% if user_signed_in? %>
                                        <% if current_user.id == voy.user.id %>
                                            <h2 style="color:red">Your Voyage!</h2>
                                        <% end %> 
                                    <% end %>                               
                                    <td><p>Voyage Discription: <%= voy.description %></p></td>
                                    <td><p>Launch date: <%= voy.voyage %></p></td>
                                    <td><p>Launch time: <%= voy.launch %></p></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                    <% voy.applied_voyages.each do |u| %>
                                        <% if !u.user.profile.nil? %>
                                            <p><%= link_to u.user.profile.name, profile_path(u.user.profile.id) %>: Has applied!</p>               
                                        <% end %>                 
                                    <% end %>
                                    <p href="#" class="btn btn-info"><%= link_to "Apply to join Here!", voyage_path(voy.id), class: "p-danger" %></p>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
</section>










<%
=begin%>
 
    <table>
        <% @voyages.each do |voy|%>
        <tr>
            <td><%= cl_image_tag voy.voyage_image.key, crop: :scale, width: 50, cloud_name: 'diu8yxgel' if voy.voyage_image.attached?%></td>  
            <td>ID: <%= voy.id %></td>  
            <% if user_signed_in? %>
                <% if current_user.id == voy.user.id %>
                    <td>Your Voyage!</td>
                <% end %> 
            <% end %> 
            <td><%= link_to voy.user.profile.name, voyage_path(voy.id) %></td>           
            <td><%= voy.user.profile.name %></td>         
            <td><%= voy.user.email %></td>         
            <% voy.applied_voyages.each do |u| %>
            
                <% if !u.user.profile.nil? %>
                    <td>Need if state: <%= link_to u.user.profile.name, profile_path(u.user.profile.id) %></td>
                    <td><%= u.user.profile.phone_number %></td>   
                    <td><%= u.description %></td>                  
                <% end %>                 
            <% end %>
        </tr>
        <% end %>
    </table> 
<%
=end%>


















<%
=begin%>
 <div class="container-fluid" >    
    <div class="row">
        <% @voyages.each do |voy|%>
        <div class="col"> 
            <div class="card" style="min-width: 16rem;">
                <%= cl_image_tag voy.voyage_image.key, crop: :scale, class: "card-img-top", cloud_name: 'diu8yxgel' if voy.voyage_image.attached?%>
                <div class="card-body">
                    <h5 class="card-title"><%= voy.user.profile.name %></h5>
                    <p class="card-text"><%= voy.description %></p>                    
                    <%= link_to voy.user.profile.name, voyage_path(voy.id) %>
                </div>
            </div>
        </div>
        <% end %>    
    </div>
</div> 
<%
=end%>




 <%
=begin%>
 <br/><br/>
 <div class="container" style="border: 1px solid red;">
    <% @voyages.each do |voy|%>
    <div class="row highlight">
        <div class="col col-sm-6">
            <%= voy.user.profile.name %>
        </div> 
        <div class="col col-sm-6">
            <%= link_to voy.user.profile.name, voyage_path(voy.id) %>
        </div>       
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <%= voy.description %>
        </div> 
        <div class="col col-sm-6">
            <%= cl_image_tag voy.voyage_image.key, crop: :scale, width: 150, cloud_name: 'diu8yxgel' if voy.voyage_image.attached?%>
        </div>       
    </div>
    <% end %>
</div> 
<%
=end%>
