<h1>Voyages#index</h1>

<% if user_signed_in?%>
    <% if current_user.voyage.nil? %>
    <p><%= link_to 'Add your Voyage here', new_voyage_path %></p>
    <% end %>
<% end %>

<p><%= link_to 'Boats page', boats_path %></p>
<p><%= link_to 'Profiles page', profiles_path %></p>

     

<table>
    <% @voyages.each do |voy|%>
    <tr>
        <td><%= cl_image_tag voy.voyage_image.key, crop: :scale, width: 50, cloud_name: 'diu8yxgel' if voy.voyage_image.attached?%></td>  
        <td>ID: <%= voy.id %></td>  
        <td><%= link_to voy.user.profile.name, voyage_path(voy.id) %></td>           
        <td><%= voy.user.profile.name %></td>         
        <td><%= voy.user.email %></td>         
        <% voy.appliers.each do |u| %>
            <% if u.profile.nil? %>
            <% else %>
                <td>Need if state: <%= link_to u.profile.name, profile_path(u.profile.id) %></td>
                <td><%= u.profile.phone_number %></td>   
            <% end %>                 
        <% end %>
    </tr>
    <% end %>
</table>
