<h1>Voyages#join</h1>
<p><%= @voyage.id %></p>
<p><%= current_user.id %></p>

<%= form_with model: @applied_voyage, url: joiner_voyage_path do |f| %>
    <p>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </p>
    <p>
        <%= f.submit 'Join Voyage' %>
    </p>

<% end %>

<%= link_to "<< Back to Voyages", voyages_path %> 