<%= form_with model: @boat do |f| %>
    <p>
        <%= f.label :category %>
        <%= f.text_field :category %>
    </p>
    <p>
        <%= f.label :boat_image %>
        <%= f.file_field :boat_image %>
    </p>
    <p>
        <%= f.label :size %>
        <%= f.text_field :size %>
    </p>
    <p>
        <%= f.label :capasity %>
        <%= f.text_field :capasity %>
    </p>
    <p>
        <%= f.label :activity %>
        <%= f.text_field :activity %>
    </p>
    <p>
        <%= f.submit caption %>
    </p>
<% end %>

<%= link_to "<< Back to Boats!", boats_path %>