<section class="bg-primary text-light p-0 text-center text-sm-start h-100" >
    <h1 class="row justify-content-center">Boats Page</h1>
    <% if user_signed_in? %>
        <% if current_user.profile.nil? %>
            <h2 class="pad">Create a profile to create a boat: <button  class="btn btn-dark bitn-lg"><%= link_to 'Profiless page', profiles_path %></button></h2>
        <% else %>
            <% if current_user.profile.boat.nil? %>
                <h2 class="pad">Add your boat here: <button  class="btn btn-dark bitn-lg"><%= link_to 'Boat!', new_boat_path %></button></h2>
            <% end %>
        <% end %>
    <% end %>

   <section class="p-auto">
        <div class="container">
            <div class="row text-center">
                <% @boats.each do |bo|%>
                    <div class="col-md, col-lg, col-xl-4 p-3">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center"> 
                            <h3>  
                                <td><%= cl_image_tag bo.boat_image.key, crop: :scale, width: 300, cloud_name: 'diu8yxgel' if bo.boat_image.attached?%>
                            </h3> 
                                <tr>
                                    <% if user_signed_in? %>
                                        <% if !bo.boat_image.attached? %>
                                            <td><%= link_to "Add your Boat's picture!", edit_boat_path(bo.id) %></td>
                                        <% end %>  
                                        <% if current_user.id == bo.profile.user.id %>
                                            <h2 style="color:red">Your Boat: </h2>
                                        <% end %>  
                                    <% end %>  
                                    <td><%= bo.profile.name %></td> 
                                    <td>'s Boat: <%= link_to bo.category, boat_path(bo.id) %></td>
                                </tr>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
</section>

