<h1>Boats</h1>

<% if user_signed_in?%>
    <% if current_user.profile.boat.nil? %>
    <p><%= link_to 'Add your Boat here', new_boat_path %></p>
    <% end %>
<% end %>

<p><%= link_to "profile page", profiles_path %></p> 
<p><%= link_to 'Voyages page', voyages_path %></p>          

<table>
    <% @boats.each do |bo|%>
    <tr>
        <td><%= cl_image_tag bo.boat_image.key, crop: :scale, width: 50, cloud_name: 'diu8yxgel' if bo.boat_image.attached?%></td>  
        <td><%= bo.profile.name %></td>           
        <td><%= link_to bo.category, boat_path(bo.id) %></td>           
    </tr>
    <% end %>
</table>
