<h1><%= @boat.profile.name %></h1>

<h3>Category: <%= @boat.category %></h3>
<h3>Boat size: <%= @boat.size %></h3>
<h3>Capasity: <%= @boat.capasity %></h3>
<h3>Activity: <%= @boat.activity %></h3>

<td><%= cl_image_tag @boat.boat_image.key, crop: :scale, width: 50, cloud_name: 'diu8yxgel' if @boat.boat_image.attached?%></td>  
 
<p>
   <%= link_to "<< Back to Boats!", boats_path %>
   |
<% if user_signed_in? %>
   <% if @boat.profile.user_id == current_user.id %>
      <%= link_to "Update Boat!", edit_boat_path(@boat) %> 
      |
      <%= link_to "Delete Profile!", @boat, method: :delete %>
   <% end %>
<% end %>
</p>