<h1><%= @boat.profile.name %></h1>

<h3>ID: <%= @boat.id %></h3>
<h3>Boat owner: <%= @boat.profile.name %></h3>
<h3>Category: <%= @boat.category %></h3>

<p>
   <%= link_to "<< Back to Boats", boats_path %>
   |
   <% if @boat.profile.user_id == current_user.id %>
      <%= link_to "Update Boat", edit_boat_path(@boat) %> 
      |
      <%= link_to "Delete Profile", @boat, method: :delete %>
   <% else %>
      <p>No</p>
   <% end %>
</p>