<section class="container" >
    <nav class="navbar navbar-expand-md navbar-light">
        <a href="#" class="navbar-brand">First Mate</a>
        <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-lable="Toggle navigation"          
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="toggleMobileMenu ">
            <ul class="navbar-nav float-right text-end">
                <% if user_signed_in? %>
                <li class="p-1">
                    <%= link_to "Profiles Page", profiles_path, class: "btn btn-primary" %>
                </li>
                <li class="p-1">
                    <%= link_to "Voyages Page", voyages_path, class: "btn btn-primary" %>
                </li>
                <li class="p-1">
                    <%= link_to "Boats Page", boats_path, class: "btn btn-primary" %>
                </li>
                <li class="p-1">
                    <%= link_to "About Page", about_voyage_path, class: "btn btn-primary" %>
                </li>
                <li class="p-1">
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
                </li>
                <% else %>
                <li>
                        <%= link_to "Login", new_user_session_path, class: "btn btn-primary active" %>
                </li>
                <li>
                    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
                </li> 
                <% end %>
            </ul>        
        </div>
    </nav>
</section> 




<%
=begin%>
 
<section id="logdisplay">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <% if user_signed_in? %>
                <p><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %></p>
                
                |
                <%= current_user.email %>
                <% if !current_user.profile.nil? %>
                    <p>Profile: <%= current_user.profile.name %></p>
                <% end %>
            <% else %>
                <h1> 
                    <small class="text-muted">To create a profile and join a voyage Sign Up Here</small>
                </h1>
                <div class="btn-group">
                    <%= link_to "Login", new_user_session_path, class: "btn btn-primary active" %>
                    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
                </div> 
            <% end %>
            
            <a href="#" class="navbar-brand">haammmmbuuurger</a>
            <button 
                class="navbar-toggler"
                type="button" 
                data-bs-toggle="collapse"
                data-bs-target="#toggleMobileMenu"
                aria-controls="toggleMobileMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav ms-auto text-center">
                    <li>
                        <a class="nav-link" href="#">pppp</a>
                    </li>
                    <li>
                        <%= link_to 'Profiles page', profiles_path %>
                    </li>
                    <li>
                        <%= link_to 'Profiles page', profiles_path %>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
 
<%
=end%>

 <%
=begin%>
 <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <% unless current_page?(voyages_path) || current_page?(voyage_path) %>
                    <li class="nav-item ">
                        <a href="#learn " class="nav-link">Voyage</a>    
                    </li>
                <% end %>
                <% unless current_page?(profiles_path) || current_page?(profile_path) %>
                    <li class="nav-item">
                        <a href="#questions" class="nav-link">Profile</a>    
                    </li>                    
                <% end %>
                <% unless current_page?(boats_path) || current_page?(boat_path) %>
                    <li class="nav-item">
                    <a href="#instructors" class="nav-link">Boat</a>    
                <% end %>
                </li>
            </ul>
        </div>  
<%
=end%>

