<!DOCTYPE html>
<html>
  <head>
    <title>FirstMate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3><%= user_signed_in? %></h3>
    <% if user_signed_in? %>
      <h3><%= current_user.email %></h3>
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %>
    <% else %>
      <%= link_to 'Sign In', user_session_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
